@page "/404"
@inject IJSRuntime JS
@inject NavigationManager Nav
@rendermode InteractiveServer

<PageTitle>Страница не найдена</PageTitle>

<head>
    <link rel="stylesheet" href="css/buttons.css">
    <link rel="stylesheet" href="css/texts.css">
    <link rel="stylesheet" href="css/items.css">
    <link rel="stylesheet" href="css/miscellaneous.css" />
</head>

<canvas id="gameCanvas"></canvas>

<div class="error-container">
    <div class="error-text undraggable">ERROR 404</div>
    <div class="error-text undraggable">Страница не найдена</div>
    <a href="/" class="return-link">На главную </a>
</div>

@code
{
    protected override async Task OnAfterRenderAsync(bool f)
    {
        if (f)
        {
            await JS.InvokeVoidAsync("startError");
        }
    }
}

<style>

@@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -40%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

</style>