@page "/404"
@inject IJSRuntime JS
@inject NavigationManager Nav
@rendermode InteractiveServer
<canvas id="gameCanvas" style="width: 100%; height: 100%"></canvas>

<PageTitle>Страница не найдена</PageTitle>

<head>
    <link rel="stylesheet" href="css/buttons.css">
    <link rel="stylesheet" href="css/texts.css">
    <link rel="stylesheet" href="css/items.css">
</head>

<div class="error-container">
    <div class="error-text">ERROR 404</div>
    <div class="error-text">Страница не найдена</div>
    <a href="/" class="return-link">На главную </a>
</div>

@code
{
    protected override async Task OnAfterRenderAsync(bool f)
    {
        if (f)
        {
            await JS.InvokeVoidAsync("startError");
        }
    }
}




<style>

#gameCanvas {
    position: fixed;
    left: 0;
    top: 0;
    background: black;
    z-index: 0;
}

body {
    margin: 0;
    overflow: hidden;
}

.error-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 2s;
}

.error-text {
    color: var(--red-neon-color);
    font: bold 5rem 'JetBrains Mono', monospace;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
}

@@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -40%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

</style>