@page "/authorsprofile"
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using Codelabs.Core
@inject IHttpContextAccessor HttpContextAccessor

<PageTitle>Профиль автора</PageTitle>

<head>
    <link rel="stylesheet" href="css/buttons.css" />
    <link rel="stylesheet" href="css/items.css" />
    <link rel="stylesheet" href="css/texts.css" />
</head>

<AuthorizeView>
    <Authorized>
        @if (Model != null)
        {
            <p class="big-text">Уроки от @Model.Name @Model.Surname</p>
            <ShowcaseComponent ChunkSize="3" AuthorID="@AuthorID" />
        }
        else
        {
            <p class="underlined-name medium-text">Такого автора не существует</p>
        }
    </Authorized>
    <NotAuthorized>
        <p class="medium-text">Пожалуйста, <a href="/login">войдите в систему как покупатель</a> для доступа к этой странице.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string? author_id { get; set; }

    [Parameter]
    public UserOutputModel Model { get; set; }

    public int AuthorID;

    protected override void OnInitialized()
    {
        var userManager = new UserManager();
        if (author_id != null) {
            AuthorID = int.Parse(author_id);
            Model = userManager.GetAuthorByID(AuthorID);
        }
    }
}