@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@inject IHttpContextAccessor HttpContextAccessor

<PageTitle>Купленные уроки</PageTitle>

<head>
    <link rel="stylesheet" href="css/buttons.css" />
    <link rel="stylesheet" href="css/items.css" />
    <link rel="stylesheet" href="css/texts.css" />
</head>

<AuthorizeView>
    <Authorized>
        @if (UserID != null)
        {
            <p class="big-text">Купленные вами уроки</p>
            <ShowcaseComponent ChunkSize="3" UserID="@UserID"/>
        }
        else
        {
            <p class="medium-text">Пожалуйста, <a href="/login">войдите в систему как покупатель</a> для доступа к этой странице.</p>
        }
    </Authorized>
    <NotAuthorized>
        <p class="medium-text">Пожалуйста, <a href="/login">войдите в систему как покупатель</a> для доступа к этой странице.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    public int UserID;

    protected override void OnInitialized()
    {
        var user = HttpContextAccessor.HttpContext.User;
        if (user.Identity.IsAuthenticated)
        {
            UserID = int.Parse(user.FindFirst(ClaimTypes.Name)?.Value);
        }
    }
}