@page "/"
@using Codelabs.Core.OutputModels
@rendermode InteractiveServer
@inject NavigationManager Nav

<MatrixRainBackground />


<PageTitle>Home</PageTitle>
<h1 style="color: var(--text-color-primary)">Hello, world!</h1>
<Button class="btn-primary" @onclick="@(() => { Nav.NavigateTo("/all", true); })">ALL</Button>
    
