@page "/"
@rendermode InteractiveServer
<MatrixRainBackground />

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
Welcome to your new app.
<LessonCard LessonName="Почему мы лучше C" LanguageName="Rust" Cost=5000></LessonCard>
