@page "/"

<MatrixRainBackground />

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
Welcome to your new app.
<CourseItemForUser CourseName="Некоммерческая разработка" LanguageName="C++" Cost=1000></CourseItemForUser>