@page "/LessonProfileBuyer"
@rendermode InteractiveServer

<LessonNameAndDescriptionCard></LessonNameAndDescriptionCard>
<button>Buy</button>

@code {

}

<style>
    body {
        background-color: var(--black-color)
    }
</style>