<h3>CourseItemForUser</h3>
<div class="course-card">
    <div class="course-card-header">

    
        <p>Name</p>
    </div>
    <hr />
    
    @* <a href="/infoAnimal/@Id"><button class="review-button">Подробнее</button></a> *@
</div>

@code {

}
