<div class="form-item step3-box" style="width: 800px; height: 600px;max-height: 600px;overflow-y:auto;">
    <div class="tasks-box">

    </div>
    <div class="tools-box">
        <button class="pagination-button" style="width: 50px;background-color: #01ff66;">+</button>
    </div>
</div>

@code {
    [Parameter]
    public LessonInputModel lessonModel { get; set; }
}