<div style="display: flex;flex-direction: row;">
    <InputText class="form-item" style="margin-right: 10px;width: 25rem;" @bind-Value="lessonModel.Name" Placeholder="Название" />
    <InputNumber TValue="decimal?" class="form-item" style="width: 25rem;" @bind-Value="lessonModel.Cost" Placeholder="Цена" />
    <InputSelect TValue="int?" class="form-item" style="margin-left: 10px;width: 25rem;" @bind-Value="lessonModel.LanguageID">
        <option class="placeholder" style="display: none;" value="">Язык программирования</option>
        @foreach (LanguageOutputModel language in _lessonManager.GetAllLanguages())
        {
            <option style="color: #eaeaea;" value=@language.ID>@language.Name</option>
        }
    </InputSelect>
</div>
<InputTextArea style="padding: 1rem 1rem;min-width: 76.25rem;max-width: 76.25rem;min-height: 20rem;max-height: 20rem;" class="form-item" @bind-Value="lessonModel.Description" Placeholder="Описание" />

@code {
    [Parameter]
    public LessonInputModel lessonModel { get; set; }
    private LessonManager _lessonManager = new();
}