<div class="small-margin-top">
    <div style="display: flex;flex-direction: row;justify-content: flex-start;">
        <button type="button" class="@GetStyle(0)" @onclick="() => ToTab(0)">КОД</button>
        <button type="button" class="@GetStyle(1)" @onclick="() => ToTab(1)">ПРОСМОТР</button>
    </div>
    @if (_activeTabIndex == 0)
    {
        <TextAreaInput @bind-Value="lessonModel.Requirements" class="form-item step2-box" Placeholder="Контент урока (Markdown)" />
    }
    else if (_activeTabIndex == 1)
    {
        <div class="form-item step2-box">
            <MarkdownPreview Content="@lessonModel.Requirements" />
        </div>
    }
    <ValidationMessage For="@(() => lessonModel.Requirements)" />
</div>

@code {
    [Parameter]
    public LessonInputModel lessonModel { get; set; }

    private int _activeTabIndex = 0;

    public void ToTab(int tabIndex)
    {
        _activeTabIndex = tabIndex;
    }

    private string GetStyle(int tabIndex)
    {
        if (tabIndex == _activeTabIndex)
        {
            return "tab-button active-text";
        }
        else
        {
            return "tab-button";
        }
    }
}