<head>
    <link rel="stylesheet" href="css/buttons.css">
    <link rel="stylesheet" href="css/texts.css">
    <link rel="stylesheet" href="css/items.css">
</head>

<p class="underlined-name big-text">Lesson name</p>
<div class="scrollable-text outlined-div small-text-div">
    <p>Lesson description</p>
</div>

@code {

}