.lesson-card {
    font: var(--font-primary);
    color: var(--text-color-primary);
    background-color: #6c0c80;
    max-width: 250px;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2%;
    transition: all ease 0.5s;
}

    .lesson-card:hover {
        box-shadow: -10px 0 20px var(--blue-neon-color), 10px 0 20px var(--blue-neon-color);
    }

.lesson-card-header {
    background-color: var(--dark-magenta-color);
    border-radius: 2%;
}

a {
    all: unset;
    cursor: pointer;
    color: var(--text-color-primary: #eaeaea);
    text-decoration: none;
    font: 1.5rem 'JetBrains Mono', monospace;
}

p {
    font: 1.5rem 'JetBrains Mono', monospace;
}

*:disabled {
    cursor: not-allowed;
}
