@inject NavigationManager Nav;

<div class="lesson-card">
    <div class="lesson-card-header">
        <a href="/404">
            <p>@LanguageName</p>
        </a>
    </div>

    <p>@LessonName</p>
    <button disabled class="green-button">@(Cost + " $ ") </button>
    <button class="blue-neon-button" @onclick="Redirect">РЕДАКТИРОВАТЬ</button>
</div>

@code
{
    [Parameter]
    public string LanguageName { get; set; }

    [Parameter]
    public string LessonName { get; set; }

    [Parameter]
    public int Cost { get; set; }

    public void Redirect()
    {
        Nav.NavigateTo("/404", true);
    }
}
