<head>
    <link rel="stylesheet" href="css/buttons.css">
    <link rel="stylesheet" href="css/texts.css">
    <link rel="stylesheet" href="css/items.css">
</head>

<div class="medium-text">

    <div class="two-columns">

        <div class="column left-column">
    

            <p class="underlined-name">Lesson name</p>
            <div class="scrollable-text">
                <p>Lesson description</p>
            </div>

        </div>

        <div class="column right-column">
            <div class="green-button big-button">
                КУПИТЬ
            </div>
        </div>
    </div>
</div>

@code {

}