@keyframes spinPreloader {
    100% {
        transform: rotate(360deg);
    }
}

.preload-spinner {
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    width: 2rem;
    height: 2rem;
    vertical-align: -0.125em;
    border: 0.2em solid white;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: .75s linear infinite spinPreloader;
    animation: .75s linear infinite spinPreloader;
}
.preload-spinner-hide {
    display: none;
}


.sc-container-style {
    background-color: #2e2d2d;
    max-width: 90rem;
    min-height: 100px;
    text-align: center;
}
