.sc-container-style {
    border-radius: 15px;
    background-color: #2e2d2d;
    width: 1162px;
    margin-top: 10px;
    overflow-y: auto;
    height: 45.375rem;
    max-height: 45.375rem;
    text-align: center;
}

.main-box {
    display: flex;
    justify-content: center;
}

.filters-box {
    margin-right: 10px;
    padding: 0 1rem;
    width: 420px;
    height: 51rem;
    max-height: 51rem;
    background-color: var(--black-color);
    border: 3px solid var(--pink-neon-color);
    border-radius: 15px;
    overflow-y: auto;
}
