@keyframes spinPreloader {
    100% {
        transform: rotate(360deg);
    }
}

.lang-btn {
    flex: 0 0 20%;
    background-color: var(--blue-color);
    color: var(--text-color-primary);
    justify-self: flex-end !important;
    max-width: 70px;
    min-width: 70px;
    height: 100%;
    border-radius: 0 0 30px 0;
}
    .lang-btn:hover {
        background-color: var(--button-color-primary);
    }

.green-button {
    padding: 20px;
    margin: 10px 100px 10px 10px;
    background-color: var(--green-neon-color);
    border: none;
    border-radius: 8px;
    color: var(--black-color);
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 1.2rem;
    min-width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.blue-neon-button {
    padding: 15px;
    margin: 10px 100px 10px 10px;
    background-color: var(--blue-neon-color);
    border: none;
    border-radius: 8px;
    color: var(--black-color);
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 1.2rem;
    min-width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.submit-button {
    margin-top: 20px;
    width: 30rem;
}

.submit-with-loader-button {}
.submit-with-loader-button::before {
    display: inline-block;
    right: 0;
    bottom: 0;
    width: 2rem;
    height: 2rem;
    vertical-align: -0.125em;
    border: 0.2em solid white;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: .75s linear infinite spinPreloader;
    animation: .75s linear infinite spinPreloader;
}

.edit-lesson-btn {
    flex: 0 0 80%;
    font-size: 1.9rem;
    border-radius: 0 0 0 30px;
    color: var(--text-color-primary);
    background-color: var(--pink-neon-color);
    height: 100%;
}
    .edit-lesson-btn:hover {
        background-color: var(--pink-neon-color);
    }

.toolbar-button {
    color: var(--text-color-primary);
    text-decoration: none;
}

.profile-button {
    display: flex;
    width: 5rem;
    height: auto;
    justify-self: center;
    align-self: center;
    background-color: #42009e;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.main-button {
    font-size: 4rem;
}

.lessons-button {
    display: flex;
    border-radius: 15px;
    border: 3px solid var(--pink-neon-color);
    align-items: center;
    padding: 0 5px;
    margin: 4px;
}

.to-register-button {
    margin-top: 10px;
    color: var(--yellow-neon-color);
    text-decoration: none;
}

.to-register-button:hover {
    transform: scale(1.05);
    color: var(--yellow-neon-color);
}

.big-button {
    width: 89%;
    height: 40vh;
    font-size: 5rem;
    transition: all ease 0.5s;
}
    .big-button:hover {
        box-shadow: 0 4px 4px var(--green-neon-color), 0 4px 4px var(--green-neon-color);
        transform: scale(1.02);
    }

.medium-button {
    width: 25rem;
    height: 10rem;
    font-size: 2rem;
    transition: all ease 0.5s;
}
    .medium-button:hover {
        box-shadow: 0 4px 4px var(--green-neon-color), 0 4px 4px var(--green-neon-color);
        transform: scale(1.02);
    }

a.red-solid-button {
    text-decoration: none;
}

.red-solid-button {
    color: var(--text-color-primary);
    background-color: var(--red-neon-color);
    border: var(--red-neon-color) solid 2px;
    align-content: center;
    border-radius: 2rem;
    transition: all ease 0.5s;
}
    .red-solid-button:hover {
        cursor: pointer;
        box-shadow: -10px 0 20px var(--red-neon-color), 10px 0 20px var(--red-neon-color);
        transform: scale(1.02);
    }

.logout-btn {
    text-align: center;
    width: 10rem;
    height: 3.9rem;
    margin-right: 12rem;
}
    
.task-error-button {
    height: 100%;
    width: 6rem;
    font-size: 3rem;
    text-align: center;
    color: var(--red-neon-color);
    border: var(--red-neon-color) solid 4px;
    overflow: hidden;
    background-color: transparent;
    border-radius: 0 1.8rem 1.8rem 0;
}

.exercise-run-button {
    color: var(--green-neon-color);
    border: var(--green-neon-color) solid .5rem;
    background-color: var(--black-color);
    font-size: 4rem;
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 1.8rem;
}

.task-right-solution-button {
    background-color: var(--black-color);
    width: 12rem;
    border: var(--green-neon-color) solid .5rem;
    color: var(--text-color-primary);
    border-radius: 1.8rem;
    font-size: 1.6rem;
}

.hide {
    visibility: hidden;
}

.exercise-menu-button {
    position: absolute;
    left: 1rem;
    top: 7.5rem;
    background-color: transparent;
    border: none;
}

.pagination-button {
    height: 50px;
    border: none;
    border-radius: 10px;
    color: var(--black-color);
    font-size: 24px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}

.pagination-button:hover {
    border: 2px solid var(--pink-neon-color);
}

.delete-button {
    border: none;
    background: #ff0000;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.delete-button:hover {
    background: var(--yellow-neon-color);
}

.edit-button {
    background: #01ff66;
    border: none;
    margin-top: 0px;
    margin-bottom: 0px;
    border-left: 3px solid var(--pink-neon-color);
}

.edit-button:hover {
    background: var(--yellow-neon-color);
}

.not-authorized-link {
    font-size: 32px;
    color: var(--text-color-primary);
    margin-bottom: 0;
}

.scale-up-button {
    display: flex;
    justify-content: center;
    font-size: 32px;
    text-decoration: none;
    color: var(--yellow-neon-color);
}

.scale-up-button:hover {
    font-weight: bold;
}

.tab-button {
    width: 12rem;
    height: 3.5rem;
    border: 3px solid var(--pink-neon-color);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: none;
    background: var(--black-color);
    color: var(--text-color-primary);
    font-size: 1.7rem;
    margin: 0 !important;
}