.login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-item-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-item {
    margin-top: 10px;
    width: 260px;
    height: 42px;
    text-indent: 10px;
    color: #eaeaea !important;
    background-color: var(--black-color);
    border: 3px solid var(--pink-neon-color);
    border-radius: 6px;
}

.form-item:focus {
    background-color: var(--black-color);
    border: 3px solid var(--pink-neon-color);
}

.form-item::placeholder {
    color: #a3a3a3 !important;
}

.toolbar-end-box {
    display: flex;
    width: 10%;
    height: 32px;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
}

.toolbar {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    height: 46px;
    background: var(--violet-color);
    margin-top: 8px;
    border-radius: 15px;
}

.toolbar-box {
    display: flex;
    flex-direction: row;
    background: transparent;
    width: 100%;
    height: 62px;
    margin: 0px;
    padding: 0px;
}

.profile-icon {
    display: flex;
    width: 42px;
    height: 42px;
    justify-self: center;
    align-self: center;
}

.two-uneven-columns {
    display: flex;
    flex-direction: row;
}

.column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.left-column {
    width: 60%
}

.right-column {
    width: 40%
}

.outlined-div {
    display: flex;
    transition: all ease 0.5s;
    box-sizing: border-box;
    border-radius: 8px;
    flex-shrink: 0;
    width: 100%;
    height: 40vh;
    padding: 20px;
    margin: 10px 100px 10px 10px;
    max-height: 80vh;
}

.small-text-div {
    border: 3px solid var(--blue-neon-color);
    max-height: 40vh;
}
    .small-text-div:hover {
        box-shadow: 0 4px 4px var(--blue-neon-color), 0 4px 4px var(--blue-neon-color);
    }

.big-text-div {
    border: 3px solid var(--green-neon-color);
    max-height: 80vh;
}
    .big-text-div:hover {
        box-shadow: 0 4px 4px var(--green-neon-color), 0 4px 4px var(--green-neon-color);
    }
