.login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-item-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-item {
    margin-top: 10px;
    width: 30rem;
    height: 5rem;
    text-indent: 1rem;
    color: #eaeaea !important;
    background-color: var(--black-color);
    border: 3px solid var(--green-neon-color);
    border-radius: 6px;
    font: 1.7rem 'JetBrains Mono', monospace;
}

.form-item:focus {
    background-color: var(--black-color);
    border: 3px solid var(--purple-neon-color);
}

.form-item::placeholder {
    color: #a3a3a3 !important;
}

.space-divider {
    flex: 0 0 80%;
}

.violet-div {
    background-color: var(--violet-color);
    border: 3px solid var(--red-neon-color);
    display: inline-block;
    padding: 20px 20px 20px 20px;
    /*    margin: 0 10vw 0 20vw;*/
    text-align: left;
    /*    display: flex;
    justify-content: center;*/
    /* align-items: center;*/
    /*flex-direction: column;*/
    display: inline-block; /* Keeps the div size to its content */
    padding: 20px; /* Padding */
    text-align: left; /* Text alignment */
}

.toolbar-end-box {
    display: flex;
    width: 18%;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
}

.toolbar {
    display: flex;
    justify-content: flex-end;
    width: 60%;
    height: 4rem;
    background: var(--violet-color);
    margin-top: 1rem;
    border-radius: 15px;
}

.toolbar-buttons-list {
    display: flex;
    justify-content: flex-start;
    flex: 1;
}
.toolbar-box {
    display: flex;
    flex-direction: row;
    background: transparent;
    height: 6rem;
}

.profile-icon {
    display: flex;
    width: 4rem;
    height: auto;
    margin-left: 0.75vh;
    justify-self: center;
    align-self: center;
}

.purple-doodle {
    display: flex;
    width: 25rem;
    height: auto;
    justify-self: center;
    align-self: center;
}

.landing-image {
    display: flex;
    width: 60rem;
    justify-self: center;
    align-self: center;
}
.cost-div {
    display: flex;
    /*align-items: center;*/
    /*justify-items: center;*/
    /*text-align: center;*/
    justify-content: center;
    /*align-content: center;*/
    flex: 0 0 80%;
    font-size: 1.9rem;
    border-radius: 0 0 0 30px;
    color: var(--text-color-primary);
    background-color: var(--violet-color);
    height: 100%;
}


.two-uneven-columns {
    display: flex;
    flex-direction: row;
}

.three-columns {
    display: flex;
    flex-direction: row;
}

.column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.big-column {
    flex: 1;
    padding: 30px;
    box-sizing: border-box;
}

.left-column {
    width: 60%
}

.right-column {
    width: 40%
}

.outlined-div {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    transition: all ease 0.5s;
    box-sizing: border-box;
    border-radius: 8px;
    flex-grow: 1;
    padding: 20px;
    margin: 10px 100px 10px 10px;
}

.small-text-div {
    border: 3px solid var(--blue-neon-color);
    max-height: 75vh;
}
    .small-text-div:hover {
        box-shadow: 0 4px 4px var(--blue-neon-color), 0 4px 4px var(--blue-neon-color);
    }

.big-text-div {
    border: 3px solid var(--green-neon-color);
}
    .big-text-div:hover {
        box-shadow: 0 4px 4px var(--green-neon-color), 0 4px 4px var(--green-neon-color);
    }
.lesson-card-body {
    background-color: var(--violet-color);
}


.lesson-card-footer {
    /*border-top: var(--dark-magenta-color) 2px solid;*/
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
}


.lesson-card {
    color: var(--text-color-primary);
    background-color: #6c0c80;
    width: 350px;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    transition: all ease 0.5s;
    min-height: 300px;

}

.lesson-card:hover {
    box-shadow: -10px 0 20px var(--blue-neon-color), 10px 0 20px var(--blue-neon-color);
}

.lesson-card-header {
    color: var(--text-color-primary);
    background-color: var(--dark-magenta-color) !important;
    border-top-left-radius: 32px !important;
    border-top-right-radius: 32px !important;
}
.lesson-card-header p {
    color: var(--text-color-primary);
}

.top-padding {
    padding-top: 6.83rem;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}



.vertical-flex-container {
    display: flex;
    flex-direction: column;
}
    .vfc-item {
        padding: 10px;
    }
    
.task-req-cont {
    align-self: center;
    max-width: 100rem;
    min-height: 20rem;
    text-align: left;
    font-size: 1.3rem;
    color: var(--text-color-primary);
    flex: 3;
    background-color: var(--black-color);
    border: #FFFFFF99 solid 2px;
    border-radius: 2rem;
}
.task-status-cont {
    color: var(--text-color-primary);
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    
}
.task-code-cont {
    flex: 4;
}

.task-status-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: var(--black-color);
    border: #FFFFFF99 solid 2px;
    width: 74%;
    border-radius: 2rem;
}

#menu-button {
    width: 2rem;
    height: 2rem;
    scale: 1.1;
}

#code-editor {
    height: 32rem;
    width: 100%;
    border-radius: 2rem;
}

@keyframes spinPreloader {
    100% {
        transform: rotate(360deg);
    }
}

.preload-spinner {
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    width: 2rem;
    height: 2rem;
    vertical-align: -0.125em;
    border: 0.2em solid white;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: .75s linear infinite spinPreloader;
    animation: .75s linear infinite spinPreloader;
}