div.validation-message {
    color: red;
    font-size: 1.4rem;
}

.row-flex-div {
    display: flex;
    flex-direction: row;
}

.column-flex-div {
    display: flex;
    flex-direction: column;
}

.create-lesson-text-field {
    margin-right: 10px;
    flex-flow: wrap;
    max-width: 25rem;
    width: 25rem;
}

.no-display {
    display: none;
}

.create-lesson-description-field {
    padding: 1rem 1rem;
    width: 76.25rem;
    height: 20rem;
}

.small-margin-top {
    margin-top: 10px;
}

.small-margin-right {
    margin-right: 10px
}

.small-margin-left {
    margin-left: 10px
}

.create-lesson-step3-div {
    flex-flow: wrap;
    max-width: 22.625rem;
}

.matrix-background {
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: -1; 
    background-color: black; 
    width: 100%; 
    height: 100%;
}