.scrollable-text {
    overflow-y: auto;
}

.underlined-name {
    text-decoration: underline;
    text-decoration-color: var(--yellow-neon-color);
}

.underlined-wavy-name {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--pink-neon-color);
}

.medium-text {
    color: var(--text-color-primary);
    font: 2rem 'JetBrains Mono', monospace;
}

.big-text {
    color: var(--text-color-primary);
    font: 5rem 'JetBrains Mono', monospace;
}
