@inherits LayoutComponentBase
@inject NavigationManager Nav
@inject CounterService InCount


<head>
    <link rel="stylesheet" href="css/miscellaneous.css">
</head>

<div class="page">
    <main>
        <div>
            <MatrixRainBackground/>
            <ToolbarLayout/>
        </div>
        <div>
            @Body
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code
{
    private const string _page = "/completing-exercise";

    protected override void OnInitialized()
    {
        Nav.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        var curPath = new Uri(Nav.Uri).AbsolutePath;
        var targetPath = new Uri(e.Location).AbsolutePath;
        if (curPath.Equals(_page, StringComparison.OrdinalIgnoreCase) &&
            !targetPath.Equals(_page, StringComparison.OrdinalIgnoreCase))
        {
            InCount.Reset();
        }

    }


}
