@inject NavigationManager NavManager

<head>
    <link rel="stylesheet" href="css/buttons.css" />
    <link rel="stylesheet" href="css/items.css" />
</head>

<div class="toolbar-box">
    <span class="toolbar-end-box">
        <a class="toolbar-button main-button" href="/">CODE/\ABS</a>
    </span>
    <div class="toolbar">
        <div style="display: flex;justify-content: flex-start;flex: 1;">
            <a class="toolbar-button lessons-button" href="/lessons">ВСЕ УРОКИ</a>
        </div>
        <div style="display: flex;justify-content: flex-end;flex: 1;">
            <a class="toolbar-button profile-button" href="/profile">
                <img src="images/profile_icon.png" class="profile-icon" />
            </a>
        </div>
    </div>
    <div class="toolbar-end-box" />
</div>