@inject NavigationManager NavManager
@using Microsoft.AspNetCore.Components.Authorization

<head>
    <link rel="stylesheet" href="css/buttons.css" />
    <link rel="stylesheet" href="css/items.css" />
    <link rel="stylesheet" href="css/texts.css" />
</head>

<div class="toolbar-box">
    <span class="toolbar-end-box">
        <a class="toolbar-button main-button" href="/">CODE/\ABS</a>
    </span>
    <div class="toolbar-rect">
        <div class="toolbar-buttons-list">
            <a class="toolbar-button lessons-button medium-text" href="/lessons">ВСЕ УРОКИ</a>
        </div>
        <div>
            <a class="profile-button" href="/profile">
                <img src="images/profile_icon.png" class="profile-icon" />
            </a>
        </div>
    </div>
    <div class="toolbar-end-box">
        <AuthorizeView>
            <Authorized>
                <a class="red-solid-button logout-btn" href="/logout">ВЫЙТИ</a>
            </Authorized>
        </AuthorizeView>
    </div>
</div>