@page "/"

<PageTitle>Home</PageTitle>

<MatrixRainBackground/>

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>


<style>
    h1 {
        color: white;
    }
    p {
        color: white;
    }
</style>